<div class='jumbotron'>
	<h1>Welcome To Fitness Connect</h1>
	<p>Prototype Of New Fitness App</p>

	<p><a class='btn btn-lg btn-primary' href='#' role='button'>Click Here To Get Started</a>
	</p>
</div>
