<h1>Fill Out Your Profile</h1>


<div class='jumbotron'>
  <div class='row'>
    <div class='col-md-6'>
      <div class='thumbnail'>
        <img src='...' alt='...'>
        <div class='caption'>
          <h3>Upload Profile Pic</h3>
          <p>.....</p>
          <p><a href='#' class='btn btn-primary' role='button'>Upload Pic</a></p>
        </div>
      </div><!--END THUMBNAIL-->
    </div><!--END COL-->
    <div class='col-md-6'>
      <div class='thumbnail'>
        <img src='...' alt='...'>
        <div class='caption'>
          <h3>Upload Your Clients Before/After Pics</h3>
          <p>.....</p>
          <p><a href='#' class='btn btn-primary' role='button'>Upload Pic</a></p>
        </div>
      </div>
    </div>
  
<div class='row'>
  <div class='col-md-6'>
    <p>Bio</p>
    <textarea class='form-control' rows='3'></textarea>
    <p><a href='#' class='btn btn-primary' role='button'>Submit</a></p>
  </div><!--END Col-->
  <div class='col-md-6'>
    <p>Years Experience</p>
    <p>Number Of Certifications</p>
  </div><!--END COL-->
</div><!--END ROW-->
</div><!--Close Jumbotron -->