<h1>Fill Out Your Profile</h1>

<div class='well'
  <p class='lead'>
    What are your training goals?<br>
      <input type='radio' name='group1' value='Build Mass'>Build Mass<br>
      <input type='radio' name='group1' value='Loss Weight'>Loss Weight<br>
      <input type='radio' name='group1' value='General Health'>General Health<br>
      <input type='radio' name='group1' value='Rehabilition'>Rehabilition<br>
    </p>
  </div>



<div class='well'>
  <p class='lead'>
  What type of training do you prefer?<br>
    <input type='radio' name='group1' value='1 on 1'>1 on 1<br>
    <input type='radio' name='group1' value='Group Training'>Group Training<br>
    <input type='radio' name='group1' value='Boot Camp'>Boot Camp<br>
  </p>
</div>

<div class='well'>
  <p class='lead'>
  How Strongly Do You Feel About Following A Meal Plan?<br>
    <input type='radio' name='group1' value='Dont Care'>Don't Care<br>
    <input type='radio' name='group1' value='Moderate'>Moderate<br>
    <input type='radio' name='group1' value='Follow 24/7'>Follow 24/7<br>
  </p>
</div>

<button class='btn btn-lg btn-info'>Submit</button>
