<h1>Fill Out Your Profile</h1>

<div class='well'
  <p class='lead'>
    What are your training goals?<br>
      <input type='radio' name='group1' value='Build Mass'>Bodybuilding<br>
      <input type='radio' name='group1' value='Loss Weight'>Weight Loss<br>
      <input type='radio' name='group1' value='General Health'>General Health And Well Being<br>
      <input type='radio' name='group1' value='Rehabilition'>Rehabilition<br>
      <input type='radio' name='group1' value='Rehabilition'>Athletic Development<br>
    </p>
  </div>



<div class='well'>
  <p class='lead'>
  What type of training do you prefer?<br>
    <input type='radio' name='group1' value='1 on 1'>1 on 1<br>
    <input type='radio' name='group1' value='Group Training'>Semi-Private<br>
    <input type='radio' name='group1' value='Boot Camp'>Small Group<br>
    <input type='radio' name='group1' value='Boot Camp'>Boot Camp<br>
  </p>
</div>

<div class='well'>
  <p class='lead'>
  Do you provide individualized nutrition programming?<br>
    <input type='radio' name='group1' value='Dont Care'>Yes<br>
    <input type='radio' name='group1' value='Moderate'>No<br>
    <input type='radio' name='group1' value='Follow 24/7'>Yes, via third party(Work with Nutritionist or 
    Nutrition Advisor<br>
  </p>
</div>

<div class='well'>
  <p class='lead'>
  Do you train?<br>
    <input type='radio' name='group1' value='1 on 1'>Out fo a gym<br>
    <input type='radio' name='group1' value='Group Training'>In-Home Trainer<br>
    <input type='radio' name='group1' value='Boot Camp'>City Parks<br>
  </p>
</div>

<div class='well'>
  <p class='lead'>
  Which market best describes your preference?<br>
    <input type='radio' name='group1' value='1 on 1'>Men-Women<br>
    <input type='radio' name='group1' value='Group Training'>Moms<br>
    <input type='radio' name='group1' value='Boot Camp'>Boomers<br>
    <input type='radio' name='group1' value='Boot Camp'>Athletes<br>
  </p>
</div>

<button class='btn btn-lg btn-info'>Submit</button>
